---
import { BlOB_TRACKING_ClASS, CORNER_POSITIONS } from "@/consts";
import type { SandboxObj } from "@/lib/fetchContents";
import { cn } from "@/lib/utils";

const {
  border,
  label: labelStyle,
  coord: coordStyle,
  plus,
} = BlOB_TRACKING_ClASS;

type Props = Pick<SandboxObj, "title" | "image" | "tags" | "contentLink">;

const { title, image, tags, contentLink } = Astro.props;
---

<a href={contentLink} target="_blank" rel="noopener noreferrer">
  <div
    class={cn(
      border,
      contentLink && "cursor-alias",
      "group pointer-events-auto relative border-dashed sm:border-none sm:hover:border-dashed dark:invert",
    )}
  >
    <div class="opacity-100 sm:opacity-0 sm:group-hover:opacity-100">
      {
        CORNER_POSITIONS.map(([transform, pos]) => (
          <span class={cn(plus, pos, transform, "z-50 dark:invert")}>+</span>
        ))
      }
      <span class={cn(labelStyle, "dark:invert")}>{title}</span>
    </div>
    <div class="relative">
      <div class="dither-md w-full">
        <img
          src={`${import.meta.env.STRAPI_IMAGE_URL}${image[0].url}`}
          alt={title}
          class="size-full object-cover object-top dark:opacity-70 dark:invert"
        />
      </div>
      <img
        src={`${import.meta.env.STRAPI_IMAGE_URL}${image[0].url}`}
        alt={title}
        class={`
          absolute inset-0 size-full object-cover object-top transition-opacity
          opacity-20 sm:opacity-0 sm:group-hover:opacity-20
          dark:invert dark:opacity-35 dark:sm:opacity-0 dark:sm:group-hover:opacity-35
        `}
      />
    </div>
    <span
      class={cn(
        coordStyle,
        "mt-1 opacity-100 sm:opacity-0 sm:group-hover:opacity-100 dark:invert",
      )}>{tags?.map((tag) => tag.name).join(", ")}</span
    >
  </div>
</a>
