---
import WorkItem from "./WorkItem.astro";
import type { components } from "../../../types/schema";
import Blinking from "../animations/Blinking.astro";
import { Separator } from "../ui/separator";

import fetchApi from "@/lib/strapi";

export type WorkObj = components["schemas"]["Work"];

const works = await fetchApi<WorkObj[]>({
  endpoint: "works",
  wrappedByKey: "data",
  query: { "sort[0]": "releaseDate:desc", "populate[tags]": "*" },
});
---

<div class="flex w-full flex-col sm:w-3/5 sm:pl-6">
  <div class="h-[3vh]"></div>
  <Separator />
  {
    works.map(({ documentId, title, description, releaseDate, tags }, i) => (
      <Blinking delay={0.1 * i}>
        <WorkItem
          documentId={documentId}
          title={title}
          description={description}
          tags={tags}
          releaseDate={releaseDate}
        />
      </Blinking>
    ))
  }
</div>
